.App {
  display: flex;
  flex-wrap: wrap;
}

.page-editor,
.page-display {
  flex: 1 0 50%;
  white-space: nowrap;
  padding: 10px;
  box-sizing: border-box;
}

.page-display {
  border: 1px solid gray;
}
